<div>
  <h1 class="text-danger text-center">Customer Order search</h1>
</div>

<hr class="border border-5">

<%= search_form_for @q, url: search_customer_orders_reports_path, html: { method: [:get, :post] }  do |f| %>

<%= f.label :first_name_or_last_name_cont, "First Name Or Last Name :" %>
<%= f.search_field :first_name_or_last_name_cont %>

<%= f.label :mobile_no_eq, "Mobile No :" %>
<%= f.search_field :mobile_no_eq %>

<%= f.label :orders_order_type_cont, "Order Type :"%>
<%= f.search_field :orders_order_type_cont %>

<%= f.label :orders_created_at_gteq, "Order Start Date :" %>
<%= f.search_field :orders_created_at_gteq %>

<%= f.label :orders_created_at_end_of_day_lteq, "Order End Date :"%>
<%= f.search_field :orders_created_at_end_of_day_lteq %>

<br>
<%= f.submit "search" %>

<% end %>
<hr class="border border-5">

<div class="search-data ">
  <% @customer_orders.each do |customer| %>
  
  <div class="customer-order">
    

  <div class="customer-info">

    <div class="row align-items-center">
      <div class="col">
        <h5><p class="text-primary"> Customer Deatils and Orders :->  </p></h5>
      </div>
      <div class="col">
        <p class="fw-bold text-success text-capitalize">Name : <%= customer.customer_full_name %> </p>
      </div>
      <div class="col">
        <p class="text-success">Email : <%= customer.email %> </p>
      </div>
      <div class="col">
        <p class="text-danger">Mobile No : <%= customer.mobile_no %> </p>
      </div>
      <div class="col">
        <p class="text-success">Company Name : <%= customer.company_name %> </p>
      </div>
    </div>

  </div>

  <div class="customer-orders-details border border-danger">

    <table class="table table-hover table-responsive-sm table-striped table-bordered">
      <thead>
        <tr>
          <th>Order Type</th>
          <th>Shipped Date</th>
          <th>Order Quntity</th>
          <th>Total Amount</th>
          <th>Paid Amount</th>
          <th>Balance Amount</th>
        </tr>
      </thead>
    
      <tbody>
        <% customer.orders.each do |order| %>
          <tr>
            <td><%= order.order_type %></td>
            <td><%= order.shipped_date.strftime("%m/%d/%Y") %></td>
            <td><%= order.unit_of_order %></td> 
            <td><%= order.total_amount %></td>
            <td><%= order.paid_amount %></td>
            <td><%= order.balance_amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </div>


  </div>

  <hr class="border border-5">
  <% end %>
 
</div>




                    