<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "KNT BioTechnolgy", home_index_path, class:"navbar-brand "%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%#= active_class("/customers") %>">
          <%#= link_to "Dialy Dag Entry", class: "nav-link"%>
          <a class="nav-link" href="<%= customers_path %>"> Customer Details  </a>
        </li>
        <li class="nav-item <%#= active_class("/farmer_details") %>">
          <%#= link_to "Farmer Details" , class: "nav-link" %>
          <a class="nav-link" href="<%= orders_path %>"> Employe Deatils </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= orders_path %>"> Orders </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= products_path %>"> Products Deatils </a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="#"> Reports</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>