<div class="container customer-head-line">
    <div class="row justify-content-between">
      <div class="col-auto mr-auto""><h1>Listing Customer</h1></div>
      <div class="col-auto"><%= link_to 'Add New Customer', new_customer_path, class: "btn btn-success text-monospace" %></div>
    </div>
</div>
<hr/>
<br/>

<% if @customers.empty? %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">No Customer create yet </h1>
    <p class="lead text-center"> Use Add new Customer button, create the customer. </p>
  </div>
</div>
<% else %>

<div class="table-responsive-sm border border-warning">
  <table class="table table-hover table-striped table-bordered">
      <thead>
          <tr>
            <th>Customer Full Name</th>
            <th>Email</th>
            <th>Company Name</th>
            <th>Mobile No</th>
            <th>City</th> 
            <th>Customer Details</th>
            <th>Customer Orders</th>
          </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr scope="row" class="<%= "table-danger" if !customer.customer_active? %>" >
          <td><%= customer.customer_full_name %></td>
          <td><%= customer.email %></td>
          <td><%= customer.company_name %></td>
          <td><%= customer.mobile_no %></td>
          <td><%= customer.city %></td>
          <td class="text-center text-monospace"><%= link_to 'Show', customer %></td>
          <td class="text-center text-monospace"><%= link_to 'Orders', customer_orders_path(customer_id: customer.id) %></td>
        </tr>
        
        <% end %>
      </tbody>
  </table>
</div>

<%== render partial: 'shared/pagination', locals: {pagy: @pagy} %>
<% end %>


