
<div class="customer-create-form">
  <div class="jumbotron">

    <div>
      <h2><p class="text-center">Customer Create form</p></h2>
    </div>
    <hr/>
    <br/>
   
    
<%= simple_form_for @customer, url: customers_path,
  wrapper: :horizontal_form,
  wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    date:          :horizontal_multi_select,
    datetime:      :horizontal_multi_select,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    time:          :horizontal_multi_select
  } do |f| %>

<div class="customer-create-error-notification">
  <%= f.error_notification %>
</div>


<div class="customer-create-field offset-md-1">

  <div class="row">
    <%= f.input :first_name, wrapper_html: { class: 'col-sm-4' } %>
    <%= f.input :middle_name, wrapper_html: { class: 'col-sm-4' } %>
    <%= f.input :last_name,  wrapper_html: { class: 'col-sm-4' }%>
  </div>
  <br/>

  <div class="row">
    <%= f.input :mobile_no, wrapper_html: { class: 'col-sm-4' } %>
    <%= f.input :email, wrapper_html: { class: 'col-sm-4' } %>
    <%= f.input :company_name, wrapper_html: { class: 'col-sm-4' }%>
  </div>
  <br/>

  <div class="row">
    <%= f.input :refer_by, wrapper_html: { class: 'col-sm-4' } %>
    <%= f.input :city, wrapper_html: { class: 'col-sm-4' } %>
    <%= f.input :address, wrapper_html: { class: 'col-sm-4' }%>
  </div>
  <br/>

</div>
<hr/>

<br>
  <div class="form-group row mb-0">
    <div class="col-sm-8 offset-sm-5">
      <%= f.button :submit, class: "btn-primary" %>
      <%= link_to 'Cancel', customers_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>
</div>
</div>