<h1>Listing Order</h1>

<%if @orders.empty? %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">No Orders created yet. </h1>
    <p class="lead text-center"> Create the order for specfic customer. </p>
  </div>
</div>

<% else %>

<div class="table-responsive-sm border border-warning">
  <table class="table table-bordered table-hover">
      <thead>
          <tr>
            <th>Order Type</th>
            <th>Shipped Date</th>
            <th>Ship Via</th>
            <th>Shipping courier Name</th>
            <th>Ship Address</th> 
            <th>Order Quntity</th>
            <th>Total Amount</th>
            <th>Paid Amount</th>
            <th>balance_amount</th>
            <th>Product Name</th>
            <th>Order Details Info</th>
          </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr scope="row" class="<%= "table-danger" if !order.order_active? %>" >
          <td><%= order.order_type %></td>
          <td><%= order.shipped_date.strftime("%m/%d/%Y") %></td>
          <td><%= order.ship_via %></td>
          <td><%= order.ship_courier_name %></td>
          <td><%= order.shipping_address %></td>
          <td><%= order.unit_of_order %></td>
          <td><%= order.total_amount %></td>
          <td><%= order.paid_amount %></td>
          <td><%= order.balance_amount %></td>
          <td><%= order.product.product_name %></td>
          <td><%= link_to 'Order Deatil Show', order_path(order) %>  </td>
          </tr>
        
        <% end %>
      </tbody>
  </table>
</div>
<%== render partial: 'shared/pagination', locals: {pagy: @pagy} %>

<% end %>

 
